@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --wetwhite: #F6F6F6;
  --blue: #09539F;
  --green: #6C9E00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar{
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input{
  height: 40px;
  width: 90vw;
  max-width: 600px;
  border-radius: 45px;
  border: none;
  box-shadow: 0 4px 7px 1px rgba(0, 0, 0, .25);
  padding: 15px;
  font-size: 16px;
}

#map{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100svh;
}

.custom-marker-icon{
  width: 100px;
  height: 100px;
  background-color: red;
}

h1{
  font-weight: 600;
}

.icon {
  cursor: pointer;
}

.icon.urban{
  color: var(--green);
}

.icon.extraurban{
  color: var(--blue);
}

.selected{
  color: var(--blue)
}

.leaflet-control-container{
  display: none;
}